<template>
  <div>
    <!-- MAIN ELEMENT -->
    <div class="flex main-element">
      <div class="main-element__item flex-shrink max-w-sm">
        <div class="main-element__title">
          <p class="text-lg">Details <span class="text-xs ml-2">{{newsDetailsData.length}} articles loaded</span></p>
        </div>
        <DetailArticles v-bind:news-details=newsDetailsData />
      </div>
      <div class="main-element__item flex-1 border-l-2 border-r-2">
        <div class="main-element__title">
          <p class="text-lg">News Network</p>
        </div>
        <!-- CONTENT NEWS NETWORK -->
        <NewsNetwork />
      </div>
      <div class="main-element__item flex-1 flex flex-col">
        <div class="sub-container flex-1">
          <div class="main-element__title">
            <p class="text-lg">Locations <span class="text-xs ml-2">117 found</span></p>
          </div>
          <!-- CONTENT LOCATIONS -->
          <LocationMap v-bind:world-geojson=worldGeojson />
        </div>
        <div class="sub-container flex-1">
          <ul class="main-element__title border-t-2 space-x-6 text-sm">
            <li class="cursor-pointer" 
              v-bind:class="{'text-lg' : filterWordCloud == 'topic'}"
              v-on:click="changeFilterWordCloud('topic')">
              Topics
            </li>
            <li class="cursor-pointer" 
              v-bind:class="{'text-lg' : filterWordCloud == 'person'}"
              v-on:click="changeFilterWordCloud('person')">
              People
            </li>
            <li class="cursor-pointer" 
              v-bind:class="{'text-lg' : filterWordCloud == 'company'}"
              v-on:click="changeFilterWordCloud('company')">
              Companies
            </li>
            <li class="cursor-pointer" 
              v-bind:class="{'text-lg' : filterWordCloud == 'organization'}"
              v-on:click="changeFilterWordCloud('organization')">
              Organizations
            </li>
          </ul>
          <!-- CONTENT WORDCLOUD -->
          <WordCloud :queryData=queryData :typeFilter=filterWordCloud />
        </div>
      </div>
    </div>

    <!-- TIMELINE -->
    <div class="timeline">
      <div class="main-element__title">
        <p class="text-lg">Timeline <span class="text-xs ml-2">news articles accross 6 days, 3 hrs, 20 min, 0 sec</span></p>
      </div>
    </div>
  </div>
</template>

<script>
import newsDetailsData from '~/assets/dummyData/NewsDetails.json'
import worldGeojson from '~/assets/data/world.json'
import query from '~/assets/dummyData/Query.json'

export default {
  name: 'DetailPage',
  layout: 'NewsExplorer',
  
  data() {
    return {
      newsDetailsData: newsDetailsData.nodes,
      worldGeojson: worldGeojson,
      queryData: query,
      filterWordCloud: 'person'
    }
  },

  methods: {
    changeFilterWordCloud(filter) {
      this.filterWordCloud = filter;
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/assets/css/variables.scss';
  .main-element {
    max-height: 75vh;
  }
  .main-element__item {
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  }
  .main-element__title {
    padding: 0 .5rem 0  .5rem;
    display: flex;
    align-items: center;
    color: white;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  }
</style>