<template>
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <TrendingQueries :trendingQueries="trendingQueriesData" />
      <TrendingConnections :trendingConnections="trendingConnectionsData"/>
    </div>
    <div class="grid grid-cols-1">
      <BreakingNews :breakingNews="breakingNewsData" />
    </div>
  </div>
</template>

<script>
import trendingQueriesData from '~/assets/dummyData/TrendingQueries.json'
import trendingConnectionsData from '~/assets/dummyData/TrendingConnections.json'
import breakingNewsData from '~/assets/dummyData/BreakingNews.json'

export default {
  name: 'IndexPage',
  layout: 'NewsExplorer',

  data () {
    // delete timestamp breakingNewsData
    delete breakingNewsData.timeStamp
    
    return {
      trendingConnectionsData: trendingConnectionsData,
      trendingQueriesData: trendingQueriesData,
      breakingNewsData: breakingNewsData
    }
  },
}
</script>

<style lang="scss" scoped>
  @import '@/assets/css/variables.scss';
  .index-page {
    margin-top: 40px;
  }
  .card {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: $bluePersib;
  }
</style>
