<template>
    <div class="pt-4 pl-6 pb-6 min-h-full">
      <h2 class="text-xl font-bold text-white mb-8">Breaking News</h2>
      <div 
        v-for="(topics, headline) in breakingNews" :key="headline"
        class="newsList grid grid-cols-6 gap-3"
      >
        <div class="newsList--header">
          <NuxtLink :to="{ path : 'detail', query : { query: headline, type : 'unconstrained'}}">
            <p class="px-2 text-yellow-300 
              hover:bg-yellow-100 hover:text-yellow-500">
              {{headline}} 
            </p>
          </NuxtLink>
        </div>
        <div class="col-span-5">
          <WordCloudFlex 
            v-for="(topic, index) in topics.slice(0,10)" :key="index"
            :data="topic"
          />
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'BreakingNews',
  props: ['breakingNews']
}
</script>

<style lang="scss" scoped>
.newsList {
  min-height: 44px;
  &:hover {
    background: #3D516D;
  }
  &--header {
    p {
      vertical-align: middle;
    }
  }
}
</style>