<template>
    <div class="detailArticles text-white overflow-auto" style="max-height: 70vh">
        <ul>
            <li class="cursor-pointer header" v-for="news in newsDetails" :key="news.id" v-on:click=showDetail(news.id)>
                <h3 class="border-blue-400 border-l-4 border-t-2 p-2 rounded-md font-semibold">
                    {{ news.name }}
                </h3>
                <div class="p-4 detail-content" v-bind:class="{'hidden' : activeDetail != news.id}">
                <!-- <div class="p-4 hidden"> -->
                    <p>{{ news.category }}</p>
                    <p>{{ news.date }}</p>
                    <p class="mt-4 break-words">
                        {{ news.summary }}
                    </p>
                    <a :href="news.source">
                        <p class="mt-2 text-right text-sm">full article...</p> 
                    </a>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'DetailArticles',
  props: ['newsDetails'],
  data() {
      return {
          activeDetail: 0
      }
  },
  methods: {
      showDetail(detailId) {
        this.activeDetail = detailId
      }
  }
}
</script>

<style lang="scss" scoped>
.detailArticles {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #1F2937;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #334e79;
        border-radius: 0px;
        border: 0px solid #ffffff;
    }
    .detail-content {
	    animation: slide-bottom 1s ease 0s 1 normal forwards;
    }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>