<template>
  <div id="map-container" class="flex justify-center">
    <svg id="choropleth" width="400" height="300"></svg>
  </div>
</template>

<script>
import * as d3 from 'd3'

export default {
  name: 'LocationMap',
  props: ['worldGeojson'],
  data() {
      return {
      }
  },
  mounted () {
    // The svg
    const svg = d3.select("#choropleth"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

    // Map and projection
    const path = d3.geoPath();
    const projection = d3.geoMercator()
      .scale(70)
      .center([0,20])
      .translate([width / 2, height / 2]);

    // Data and color scale
    let data = new Map()
    const colorScale = d3.scaleThreshold()
      .domain([100000, 1000000, 10000000, 30000000, 100000000, 500000000])
      .range(d3.schemeBlues[7]);

    var tooltip = d3.select("#map-container")
      .append("div")
      .style("position", "absolute")
      .style("z-index", "10")
      .style("visibility", "hidden")
      .style("border-radius", "2px")
      .style("background", "#fff")
      .style("padding", "2px 10px");

    // Load external data and boot
    Promise.all([
      d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson"),
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world_population.csv", function(d) {
          data.set(d.code, +d.pop)
      })
    ]).then(function(loadData){
        let topo = loadData[0]

        // Draw the map
        svg.append("g")
          .selectAll("path")
          .data(topo.features)
          .join("path")
            // draw each country
            .attr("d", d3.geoPath()
              .projection(projection)
            )
            // set the color of each country
            .attr("fill", function (d) {
              d.total = data.get(d.id) || 0;
              return colorScale(d.total);
            })
            .on("mouseenter", function(d) {
              d3.select(this)
                .transition()
                .attr("opacity", 0.5);

              tooltip.text(d.properties.name);
              return tooltip.style("visibility", "visible")
                            .style("top", (d3.event.pageY-10)+"px")
                            .style("left",(d3.event.pageX+10)+"px");
            })
            .on("mouseout", function() {
              d3.select(this)
                .transition()
                .attr("opacity", 1);

              return tooltip.style("visibility", "hidden");
            });
    })
  }
}
</script>

<style lang="scss" scoped>

</style>