<template>
    <div class="flex-1 pt-4 pl-6 pb-6 border-r-2 border-b-2 border-dotted border-gray-400">
        <p class="text-xl font-bold text-white">Trending Queries</p>
        <ul class="mt-4 text-blue-600">
          <NuxtLink v-for="trending in trendingQueries.trendingQueries" :key="trending.query"
            :to="{ path : 'detail', query : { query: trending.query, type : trending.type}}">
            <li class="flex items-center hover:bg-blue-100">
                <img :src="trending.type == 'person' ? require('~/assets/img/person_default.png') : 
                           trending.type == 'organization' ? require('~/assets/img/organization_default.png') : 
                           trending.type == 'company' ? require('~/assets/img/company_default.png') : 
                           require('~/assets/img/flintstone_default.png')" 
                class="h-5"/>
                <p class="ml-2 text-lg" 
                  v-bind:class="{'text-purple-600': trending.type == 'concept',
                                   'text-blue-300': trending.type == 'person',
                                   'text-green-400': trending.type == 'company',
                                   'text-blue-800': trending.type == 'organization',
                                 }">
                    {{trending.query}}
                </p>
            </li>
          </NuxtLink>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'TrendingQueries',
  props: ['trendingQueries'],
  
  mounted () {
    // const endpoint = 'trending-queries.json'
    // axios
    //     .get(process.env.baseUrl + endpoint)
    //     .then(response => (this.trendingQueries = response))
  }
}
</script>