<template>
    <div class="flex-1 pt-4 pl-6 border-b-2 border-dotted border-gray-400">
        <p class="text-xl font-bold text-white">Trending Connections</p>
        <ul class="mt-4 text-blue-600">
          <NuxtLink v-for="trending in trendingConnections.trendingQueries" :key="trending.key"
            :to="{ path : 'detail', query : { 
              query: trending.entity1, type : trending.entity1Type,
              target: trending.entity2, targetType : trending.entity2Type}}">
            <li class="flex items-center hover:bg-blue-100">
                <img :src="trending.entity1Type == 'person' ? require('~/assets/img/person_default.png') : 
                           trending.entity1Type == 'organization' ? require('~/assets/img/organization_default.png') : 
                           trending.entity1Type == 'company' ? require('~/assets/img/company_default.png') : 
                           require('~/assets/img/flintstone_default.png')" 
                class="h-5"/>
                <p class="ml-2 text-lg"
                    v-bind:class="{'text-purple-600': trending.entity1Type == 'concept',
                                   'text-blue-300': trending.entity1Type == 'person',
                                   'text-green-400': trending.entity1Type == 'company',
                                   'text-blue-800': trending.entity1Type == 'organization',
                                 }">
                    {{trending.entity1}}
                </p>
                <p class="text-white mx-2"> + </p>
                <img :src="trending.entity2Type == 'person' ? require('~/assets/img/person_default.png') : 
                           trending.entity2Type == 'organization' ? require('~/assets/img/organization_default.png') : 
                           trending.entity2Type == 'company' ? require('~/assets/img/company_default.png') : 
                           require('~/assets/img/flintstone_default.png')" 
                class="h-5"/>
                <p class="ml-2 text-lg" 
                    v-bind:class="{'text-purple-600': trending.entity2Type == 'concept',
                                   'text-blue-300': trending.entity2Type == 'person',
                                   'text-green-400': trending.entity2Type == 'company',
                                   'text-blue-800': trending.entity2Type == 'organization',
                                 }">
                    {{trending.entity2}}
                </p>
            </li>
          </NuxtLink>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'TrendingConnections',
  props: ['trendingConnections']
}
</script>