<template>
  <div class="flex justify-center">
    <vue-word-cloud
      style="
        height: 250px;
        width: 80%;
      "
      :words=wordCloudData
      :color="([, weight]) => weight > 10 ? 'DeepPink' : weight > 5 ? 'RoyalBlue' : 'White'"
      font-family="Roboto"
    />
  </div>
</template>

<script>
import VueWordCloud from 'vuewordcloud'

export default {
  name: 'WordCloud',
  props: ['queryData', 'typeFilter'],
  components: {
    [VueWordCloud.name]: VueWordCloud,
  },
  data() {
      return {
        wordCloudData: [],
      }
  },
  methods: {
    generateWordCloud() {
      this.wordCloudData = []

      const queryDataFiltered = this.queryData.nodes.filter(
        node => node.type == this.typeFilter
      )

      queryDataFiltered.slice(0,50).forEach(
        node => {
          console.log(node)
          this.wordCloudData.push([node.name, node.degree])
        }
      )
    }
  },
  mounted() {
    this.generateWordCloud()
  },
  watch: {
    typeFilter: function (val, oldVal) {
      this.generateWordCloud()
    },
  },
}
</script>

<style lang="scss" scoped>

</style>