<template>
    <span 
        :class="`flex-word-cloud px-1 ${classType} ${fontType}`"
        @click="linkTo"
    >
        {{ data.name }}
    </span>
</template>

<script>
export default {
  name: 'WordCloudFlex',
  props: {
      data: {
        type: Object,
        default: () => {}
      }
  },
  methods: {
      linkTo() {
          this.$router.push({path: 'detail',  query : { query: this.data.name, type : this.data.type}});
      }
  },
  computed: {
    classType() {
        switch(this.data.type) {
            case 'concept':
                return 'text-purple-600 hover:bg-purple-100';
                break;
            case 'person':
                return  'text-blue-300 hover:bg-blue-500'; 
                break;
            case 'company':  
                return  'text-green-400 hover:bg-green-100';
                break;
            case 'organization':
                return 'text-blue-800 hover:bg-blue-100';
                break;
            default:
                return '';
                break;
        }
    },
    fontType() {
        if (this.data.degree < 10)
            return 'text-xs';
        else if (this.data.degree < 20)
            return 'text-base';
        else if (this.data.degree < 30)
            return 'text-lg';
        else if (this.data.degree < 40)
            return 'text-2xl';
        else if (this.data.degree > 50)
            return 'text-3xl';
    }
  }
}
</script>

<style lang="scss" scoped>
.flex-word-cloud {
    cursor: pointer;
    vertical-align: middle;
}
</style>